html {
    font-family: sans;
    background-color: black;
    font-size: 25px;
    color: white;
}
button {
    font-size: 25px;
}
#container {
    text-align: center;
    width: 80%;

    text-align: center;
    padding: 50px;
    margin: auto;
}

.flash-maze {
    display: inline-block;
    vertical-align: middle;
}

.cover-div {
    display: inline-block;
    background-color: red;
    vertical-align: middle;
    vertical-align: middle;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
    border: 1px solid white;
}

.cell {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

/* new styles */

.barriers,
.egg,
.location {
    font-size: 78px;
}

.blackOut {
    background-color: black;
}

/* .textField{
display:flex;
font-size:20px;
justify-content:center;
} */

.win {
    font-size: 50px;
}

.lives {
    font-size: 50px;
}

.heart {
    font-size: 22px;
    margin-bottom: -2px;
    color: red;
}
